
@import url(../../variables.css);

.login-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: var(--foreground-color);
}

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container .icon{
    width: 25%;
}

.logo-container .text{
    position: relative;
    display: inline-block;
}

.logo-container .gradient{
    position: relative;
    font-size: 10%;
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.logo-container .stroke{
    font-size: 10%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    -webkit-text-stroke: 2.5px rgba(0, 0, 0, 0.8);
    z-index: 0;
}

.login-forms{
    background-color: rgba(25, 25, 25, 0.75);
    border-radius: 25px;
    padding: 0 5%;
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-forms .title{
    color: var(--background-main-color);
    font-size: 8%;
}

.login-forms .description{
    color: var(--background-main-color);
    font-size: 3.5%;
    font-weight: 300;
}

.login-forms form {
    height: 50%;
    color: #FFF;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-forms label {
    display: block;
    margin-bottom: 5px;
    font-size: 2%;
    font-weight: 600;
    color: var(--background-main-color);
}

.additional-options,
.additional-options div{
    display: flex;
    justify-content: space-between;
}

.additional-options label{
    font-weight: 300;
}

.additional-options p{
    color: var(--background-main-color);
    font-size: 2%;
    font-weight: 300;
}

.additional-options input[type="checkbox"] {
    appearance: none;
    width: 2%;
    height: 2%;
    border: 2px solid var(--background-main-color);
    border-radius: 3px;
    background-color: var(--background-main-color);
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
.additional-options input[type="checkbox"]:checked {
    background-color: #FF7F00;
    border-color: #FF4500;
}

.login-forms input[type="text"],
.login-forms input[type="password"] {
    width: 100%;
    height: 5%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
    font-size: 2.5%;
}

.login-forms .button{
    width: 100%;
    height: 5%;
    background-image: var(--main-color);
    color: white;
    font-size: 2.5%;
    font-weight: 600;
    border-radius: 10px;
}

@media (max-width: 1400px) {
    .login-page {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .logo-container{
        width: 100%;
        height: 30%;
    }

    .logo-container .text .gradient,
    .logo-container .text .stroke{
        font-size: 5%;
    }

    .login-forms {
        width: 100%;
        max-width: 1400px;
        max-height: 70%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .login-forms .title {
        font-size: 5%;
    }

    .login-forms .description {
        font-size: 2%;
    }

    .login-forms input[type="text"],
    .login-forms input[type="password"] {
        font-size: 2%;
    }

    .login-forms .button {
        font-size: 2%;
    }
}

@media(max-width: 600px){
    .login-forms .title{
        font-size: 4.5%;
    }
}
